body {
  background-color: #E1E0DC; 
}

nav {
  display: inline-block; 
  position: absolute;
  top: 98px;
  left: 0;
  padding-left: 10px;
}

nav > ul {
  padding-left: 10px; 
}

h1 {
  display: none; 
}

h2 {
  display: inline-block;  
}

#main {
  display: inline-block;
  width: 100%;
  padding-left: 200px;
  box-sizing: border-box;
  overflow: hidden;
}

#main-wrapper {
  background-color: white; 
  padding-left: 20px;
}

h4 {
  font-family: monospace; 
  color: #ee0000;
  background-color: #E1E0DC;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
}

h5, h6 {
  font-size: 12px;
  color: #555; 
  font-style: italic;
  margin: 10px 0;
}

td {
  padding: 5px;
  vertical-align: top;
}

code {
  color: #ee0000; 
}

a {
  color: #516B0D;
  text-decoration: none;
  font-weight: bold; 
}

a:hover {
  color: #7DA21A;
}

th {
  background-color: #E1E0DC;
  color: #333;
  padding: 5px;
}

footer, footer a, footer a:hover {
  color: #777; 
}

footer {
  padding-bottom: 20px; 
}

.prettyprint {
  background-color: #333; 
  padding: 5px;
  border-bottom: 5px solid #777; 
}

.prettyprint > code {
   color: #eee;
}

body > header {
  background-color: #111;
  padding: 20px 0px;
  text-align: center;
}

#logo {
  width: 379px;
  height: 52px;
  background-image: url("../img/logo.png");
  display: inline-block;
  text-align: left;
  opacity: 0.5;
}

