body {
	margin: 0px;
	padding: 0px;
}

.kineticjs-content{
	border: 1px dashed #ccc;
}


/* The Cursortypes - just show the images*/
[class^='cursor-']{
    color:transparent;
    font-size:0;
    line-height:0;

    height
}
[class^='cursor-'] > input{
    position:absolute;
    left:-999px;
    top:-999px;
}
[class^='cursor-']:before {
    content: "";
    display: inline-block;
    background: url("cursorImg/hand1.png");
    width: 16px;
    height: 24px;
    vertical-align: bottom;
}

.cursor-hand1:before {
    content: "";
    display: inline-block;
    background: url("cursorImg/hand1.png");
    width: 16px;
    height: 24px;
    vertical-align: bottom;
}