@charset "UTF-8";

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 *  Basic Layout Section
 */

html, body, #page, .stage_container{
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  font-family: georgia, arial;
  position: absolute;
  top: 0;
  left: 0;
}

#catch_the_click {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}


.stage_container.icon-picture:before {
  font-size: 16em;
  position: absolute;
  color: rgba(195, 195, 195, 0.95);
  display: block;
  width: 1em;
  text-align: center;
  line-height: 1.2em;
  vertical-align: middle;
  top: 50%;
  margin-top: -1em;
  border: 4px dashed;
  left: 50%;
  margin-left: -1em;
  padding: 0.5em;
  height: 1em;
  overflow: hidden;
  border-radius: 0.25em;
  text-shadow: 0px 0px 24px rgba(0,0,0,0.05), -1px -1px 0px rgba(0,0,0,0.15), 1px 1px 0px rgba(255,255,255,0.3);
}

.stage_container.dz-drag-hover:before {
  /*content: "\f00c";*/
  color: rgba(255,255,255, 0.8);
  border-color: rgba(255,255,255, 0.8);
}

.stage_container > .kineticjs-content {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.5),
              0 0 0 30px rgba(255,255,255,1),
              0 0 0 200px lightgrey
}

aside#actions {
  position: absolute;
  top: 20%;
  left: 0;
}

/*
 *  Basic Typografie
 */

.heading{
  font-weight: normal;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 5px;
  margin-bottom: 1em;
  margin-top: 0.5em;
  line-height: 1;
  vertical-align: top;
  padding-top: 0;
}

/*
 *  Basic Structure
 */

ul, li{
  list-style:none;
  margin:0;
  padding:0;
}

section {
  overflow: hidden;
  margin-bottom: 50px;
}

/*
 *  Select Pointer Section
 */

 .tiles {
  width: 50px;
  height: 50px;
  overflow: hidden;
 }
.tiles:hover {
  width:auto;
}

.tiles > li {
  display: block;
  float: left;
  text-align: center;
  margin: 0px;
  width: 50px;
  height: 50px;
  background-color: tomato;
}

.tiles > li.tile-add {
  background-color: springgreen;
}

.tiles > li:last-child {
  border:0;
}


.tiles .icon {
  font-size: 0;
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
}

.tiles .icon:before {
  font-size: 40px;
  line-height: 50px;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.pointers label{
  display:none;
  font-size: 0;
  position:relative;
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.pointers label > img {

}

.pointers input{
  position:absolute;
  top:8px;
  left:0;
  visibility: hidden;
}

.tiles label, .tiles .icon {
  /* correct a 1px offset :/ */
  position: relative;
  top: 0;
}

.tiles:hover label,
.pointers input:checked + label {
  display: block;
}

.tiles .icon:hover,
.tiles label:hover,
.pointers input:checked + label {
  background-color: gold;
}

#coursored_imgs {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
}

#coursored_imgs > li {
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
}

#coursored_imgs > li > img{
  max-width: 150px;
  max-height: 150px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
      }

      a,
      a:visited {
        text-decoration: underline;
      }

      a[href]:after {
        content: " (" attr(href) ")";
      }

      abbr[title]:after {
        content: " (" attr(title) ")";
      }

/*
 * Don't show links that are fragment identifiers,
 * or use the `javascript:` pseudo protocol
 */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*
 * Animation.css portions shamelessly taken from animate.css
 * Animate.css - http://daneden.me/animate
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 * Copyright (c) 2015 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
